.footer {
    align-self: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    height: 512px;*/
    padding: 8px;
    background: #d7dbe0;
    font-family: ICTBold, sans-serif;
}
.footerbar {
    position: relative;
    top:0%;
    width: 100%;
}
.footerbar:before {
    content: "";
    position: absolute;
    left: -15px;
    right: 0px;
    top: -15px;
    height: 15px;
    background: radial-gradient(closest-side,
        #d7dbe0, #d7dbe0 50%, transparent 50%);
    background-size: 20px 20px;
    background-position: 5px;
    background-repeat: repeat-x;
}

.footerbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 188px;
    width: 1024px;
}
.test1 {
/*    border: 1px solid black;*/
    top: 20%;
    height: 128px;
    width: 256px;
    margin-right: 200px;
    text-align: center;
}
.test2 {
/*    border: 1px solid black;*/
    top: 20%;
    height: 128px;
    width: 256px;
    text-align: center;
}
@media(min-width: 858px){
    .footerbox {
        flex-direction: row;
        height: 188px;
    }
    .test1 {
        margin-right: 200px;
        margin-bottom: 0px;
    }
}
@media(max-width: 857px){
    .footerbox {
        flex-direction: column;
        height: 296px;
    }
    .test1 {
        margin-right: 0px;
        margin-bottom: 32px;
    }
}

.footer p {
    text-align:justify;
    font-family: ICT, sans-serif;
    margin-top: 4px;
    margin-bottom: 2px;
}
.footer h2 {
    color: #40556A;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}
.footer h3 {
    color: #40556A;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.footer a {
    color: #40556A;
    margin-bottom: 4px;
}
.footer > a:not(:last-child) {
    margin-right: 16px;
}