html, body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
.page {
    height: 100%;
    width: 100%;
/*    display: flex;*/
/*    flex-direction: column;*/
}
.header {
    display: flex;
    flex-direction: column;
}

.banner {
    flex: 0;
    background-image: url(assets/images/Website_achtergrond.jpg);
    background-size: cover;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.bannertitle {
    color: white;
    font-family: ICTbold, sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
.logo {
    display: flex;
    flex: 0;
    align-items: center;
    background-image: url(assets/images/logo.jpg);
    background-size: cover;
    padding: 8px;
    background-position: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

@media(min-width: 858px){
    .logo {
        min-height:70px;
    }
}
@media(max-width:857px){
    .bannertitle {
        font-size: 32px;
    }
    .logo {
        min-height: 40px;
    }
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.menu {
    flex: 0;
    display: flex;
    background: #40556A;
    flex-basis: 50px;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.menu > a {
    color: white;
    font-family: ICTbold, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.menu > a:not(:last-child) {
    margin-right: 16px;
}
.menu > a:not(:last-child):after {
    position: absolute;
    right: -12px;
    content: '|';
}

@font-face {
    font-family: "ICTbold";
    src: url(assets/fonts/OfficinaSansStd-Bold.otf);
}
@font-face {
    font-family: "ICT";
    src: url(assets/fonts/OfficinaSansStd-Book.otf);
}
@font-face {
    font-family: "ICTIt";
    src: url(assets/fonts/OfficinaSansStd-BookItalic.otf);
}