.footer {
    align-self: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    height: 512px;*/
    padding: 8px;
    background: #d7dbe0;
    font-family: ICTBold, sans-serif;
}
.footerbar {
    position: relative;
    top:0%;
    width: 100%;
}
.footerbar:before {
    content: "";
    position: absolute;
    left: -15px;
    right: 0px;
    top: -15px;
    height: 15px;
    background: radial-gradient(closest-side,
        #d7dbe0, #d7dbe0 50%, transparent 50%);
    background-size: 20px 20px;
    background-position: 5px;
    background-repeat: repeat-x;
}

.footerbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    justify-content: space-between;
    margin: 20px 0;
}

.test1, .test2 {
    text-align: left;
}

@media(min-width: 769px){
    .footerbox {
        flex-direction: row;
    }
}
@media(max-width: 768px){
    .footerbox {
        display: block;
        width: 100%;
        justify-content: start;
    }
}

.footer p {
    text-align:justify;
    font-family: ICT, sans-serif;
    margin-top: 4px;
    margin-bottom: 2px;
}
.footer h2 {
    color: #40556A;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}
.footer h3 {
    color: #40556A;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
}
.footer a {
    color: #40556A;
    margin-bottom: 4px;
}
.footer > a:not(:last-child) {
    margin-right: 16px;
}